* {
  box-sizing: border-box;
}
html,
body,
.background {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}

body {
  background: #18a2ad;
}
.background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background:before {
  content: "";
  display: block;
  background-image: url(./images/bg-pattern-bottom.svg);
  width: 60%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 200%;
  transform: rotate(185deg);
  transform-origin: center;
  position: absolute;
  top: -70px;
  left: -35px;
  z-index: -2;
  opacity: 0.6;
}
.background:after {
  content: "";
  display: block;
  background-image: url(./images/bg-pattern-bottom.svg);
  width: 70%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: 200%;
  transform: rotate(-360deg);
  transform-origin: center;
  position: absolute;
  bottom: -90px;
  right: -60px;
  z-index: -2;
  opacity: 0.8;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  width: 327px;
  height: 377px;
  max-width: 375px;
  font-family: "Kumbh Sans", sans-serif;
}
/* section1 */
.card-header {
  height: 286px;
  border-bottom: 0.5px solid hsl(0deg 0% 59% / 22%);
  position: relative;
}
.card-background {
  background-image: url(./images/bg-pattern-card.svg);
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #40cbd3;
}
.profile-picture {
  position: absolute;
  top: 90px;
  left: 110px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 10px solid #ffffff;
}
.profile-info {
  position: absolute;
  right: 92px;
  bottom: 10px;
}
.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  letter-spacing: 1.5px;
}
.profile-address {
  font-size: 14px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 0.5px;
  text-align: center;
}
/* section2 */
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 89px;
  text-align: center;
}
.stats-count {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin: 0 0 9px;
}
.stats-type {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;
}
/* desktop 1440px */
@media (min-width: 1440px) {
  .card {
    width: 352px;
    height: 376px;
  }
  .background:before {
    content: "";
    display: block;
    background-image: url(./images/bg-pattern-bottom.svg);
    width: 52%;
    height: 62%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.5;
  }
  .background:after {
    content: "";
    display: block;
    background-image: url(./images/bg-pattern-bottom.svg);
    width: 70%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -120px;
    right: -200px;
    z-index: -2;
    opacity: 0.5;
  }
}
