* {
  box-sizing: border-box;
}
html,
body,
.bg {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}

body {
  background: #18a2ad;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg:after {
  content: "";
  display: block;
  background-image: url(./images/bg-pattern-bottom.svg);
  width: 210px;
  height: 292px;
  background-size: 200%;
  transform: rotate(-360deg);
  transform-origin: center;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -2;
  opacity: 0.8;
}
.bg:before {
  content: "";
  display: block;
  background-image: url(./images/bg-pattern-bottom.svg);
  width: 210px;
  height: 292px;
  background-size: 200%;
  transform: rotate(185deg);
  transform-origin: center;
  position: absolute;
  top: -60px;
  left: -20px;
  z-index: -2;
  opacity: 0.6;
}
.card {
  background-color: #ffffff;
  border-radius: 20px;
  width: 327px;
  height: 377px;
  max-width: 375px;
  font-family: "Kumbh Sans";
}
/* section1 */
.section1 {
  height: 286px;
  border-bottom: 0.5px solid hsl(0deg 0% 59% / 22%);
  position: relative;
}
.bg-card {
  background-image: url(./images/bg-pattern-card.svg);
  width: 100%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #3dcad1;
  background-blend-mode: overlay;
}
.im-victor {
  position: absolute;
  top: 90px;
  left: 110px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 10px solid #ffffff;
}
.heading {
  position: absolute;
  right: 92px;
  bottom: 10px;
}
.name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  letter-spacing: 1.5px;
}
.city {
  font-size: 14px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 0.5px;
  text-align: center;
}
/* section2 */
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  line-height: 0.5;
  height: 89px;
}
.heading-stat {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}
.p-stat {
  font-size: 12px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;
}
/* desktop 1440px */
@media (min-width: 1440px) {
  .card {
    width: 352px;
    height: 376px;
  }
  .bg:before {
    content: "";
    display: block;
    background-image: url(./images/bg-pattern-bottom.svg);
    width: 1080px;
    height: 516px;
    background-size: 100%;
    position: absolute;
    top: -50px;
    left: -360px;
    z-index: -2;
    opacity: 0.7;
  }
  .bg:after {
    content: "";
    display: block;
    background-image: url(./images/bg-pattern-bottom.svg);
    width: 1080px;
    height: 516px;
    background-size: 100%;
    position: absolute;
    bottom: -120px;
    right: -200px;
    z-index: -2;
    opacity: 0.7;
  }
}
